{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Tasks{% endblock %}</h1>
{% endblock %}

{% block content %}
  {% if g.user %}
    <article style="margin-bottom: 1%;" class="task">
      <a style="color: white;" class="action" href="{{ url_for('task.index') }}">Task View</a>
    </article>
    <article style="margin-bottom: 1%;" class="task">
      <a style="color: white;" class="action" href="{{ url_for('task.index') }}">Weekly View</a>
    </article>
    <article style="margin-bottom: 1%;" class="task">
      <a style="color: white;" class="action" href="{{ url_for('task.index') }}">Monthly View</a>
    </article>
  {% endif %}
{% endblock %} -->
 