{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}New Task{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="name">Name</label>
    <input name="name" id="title" value="{{ request.form['name'] }}" required>
    <label for="description">Description</label>
    <textarea name="description" id="description">{{ request.form['description'] }}</textarea>
    <label for ="priority">Priority</label>
    <input type="radio" name="priority" id="high" value="1">
    <label for="high">High</label><br>
    <input type="radio" name="priority" id="medium" value="2">
    <label for="medium">Medium</label><br>
    <input type="radio" name="priority" id="low" value="3">
    <label for="low">Low</label><br>
    <input type="submit" value="Save">
  </form>
  <form action="{{ url_for('task.index') }}" method="get">
    <input class="primary" type="submit" value="Cancel" onclick="return confirm('Are you sure?');">
  </form>
{% endblock %}