{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}{{ task['name'] }}{% endblock %}</h1>
  {% if g.user %}
    <a class="action" href="{{ url_for('task.index') }}">Back to Tasks</a>
  {% endif %}
{% endblock %}

{% block content %}
  <article class="task">
    <div class="about">Description: {{ task['description'] }}</div>
    <div class="about">Date Created: {{ task['created'] }}</div>
    <div class="about">Date Scheduled: {{ task['scheduled'] }}</div>
    <div class="about">Priority: {{ task['priority'] }}</div>
  </article>
  {% if g.user['id'] == task['user_id'] %}
        
  {% endif %}
{% endblock %}