{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}{{ task['name'] }}{% endblock %}</h1>
  {% if g.user %}
    <a class="action" href="{{ url_for('task.index') }}">Back to Tasks</a>
  {% endif %}
{% endblock %}

{% block content %}
  <article class="task">
    <h3 class="about">Description: {{ task['description'] }}</h3>
    <h3 class="about">Date Created: {{ task['created'] }}</h3>
    <h3 class="about">Date Scheduled: {{ task['scheduled'] }}</h3>
    <h3 class="about">Priority: {{ task['priority'] }}</h3>
  </article>
  {% if g.user['id'] == task['user_id'] %}
        
  {% endif %}
{% endblock %}