{% extends 'base.html' %}

{% block title %}Task Viewer {% endblock %}
{% block header %}
    <a style="margin-bottom: 1%;">
      <select style="flex: auto;" name="tasks" id="tasks">
        <option value="today">Today's Tasks</option>
        <option value="unplanned">Unplanned Tasks</option>
        <option value="all">All Tasks</option>
        <option value="high prio">High Prio Tasks</option>
      </select>
    </a>
  {% if g.user %}
    <a class="action" href="{{ url_for('task.create') }}">Add Task</a>
  {% endif %}
{% endblock %}

{% block content %}
  <div>
    <h1>Remaining Tasks</h1>
  </div>
  {% for task in tasks %}
    <article class="task">
      <header>
        {% if g.user['id'] == task['user_id'] %}
          <div class="task-row" style="display: flex; ">
            <h1 style="float: left;">{{ task['name'] }}</h1>
            <div class="button-group" style="float: right;">
              <button class="task-button">
                <form action="{{ url_for('task.update', id=task['id']) }}" method="get">
                  <input style="border: none;" type="submit" value="Edit">
                </form>
              </button>
              <button class="task-button">
                <form action="{{ url_for('task.details', id=task['id']) }}" method="get">
                  <input style="border: none;" type="submit" value="Details">
                </form>
              </button>           
              <button class="task-button">
                <form action="{{ url_for('task.delete', id=task['id']) }}" method="post">
                  <input style="border: none; background: white;" class="danger" type="submit" value="Delete" onclick="return confirm('Are you sure?');">
                </form>
              </button>
            </div>
          </div>
        {% endif %}
      </header>
    </article>
    {% if not loop.last %}
      <hr>
     {% endif %}
  {% endfor %}
{% endblock %}