{% extends 'base.html' %}

{% block title %}Task Viewer {% endblock %}

{% block header %}
  {% if g.user %}
    <div style="display: flex;">
      <form style="flex: auto;" action="{{ url_for('task.index') }}" method="get">
        <select style="padding: 3%;" name="taskType" id="taskType">
          <option value="today">Today's Tasks</option>
          <option value="unplanned">Unplanned Tasks</option>
          <option value="all">All Tasks</option>
          <option value="highPrio">High Prio Tasks</option>
        </select>
        <input type="submit" value="Filter Tasks">
      </form>
  
      <a class="action" href="{{ url_for('task.create') }}">Add Task</a>
    </div>
  {% endif %}
{% endblock %}

{% block content %}
  {% if g.user %}
    <div>
      <h1>Remaining Tasks</h1>
    </div>
    {% for task in tasks %}
      <article class="task">
        <header>
          {% if g.user['id'] == task['user_id'] %}
            <div class="task-row">
              <p style="flex: auto;">{{ task['name'] }}</p>
                <form action="{{ url_for('task.update', id=task['id']) }}" method="get">
                  <button class="task-button" type="submit">Update</button>
                </form>
                <form action="{{ url_for('task.details', id=task['id']) }}" method="get">
                  <button class="task-button" type="submit">Details</button>
                </form>         
                <form action="{{ url_for('task.delete', id=task['id']) }}" method="post">
                  <button class="task-button danger" type="submit">Delete</button>
                </form>
            </div>
          {% endif %}
        </header>
      </article>
      {% if not loop.last %}
        <hr>
      {% endif %}
    {% endfor %}
  {% endif %}
{% endblock %}