{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Today{% endblock %}</h1>
  {% if g.user %}
    <a class="action" href="{{ url_for('task.create') }}">New</a>
  {% endif %}
{% endblock %}

{% block content %}
  <h1>Remaining Tasks</h1>
  {% for task in tasks %}
    <article class="task">
      <header>
        <div>
          <h1>{{ task['name'] }}</h1>
        </div>
        {% if g.user['id'] == task['user_id'] %}
          <form action="{{ url_for('task.update', id=task['id']) }}" method="get">
            <input type="submit" value="Edit">
          </form>
          <form action="{{ url_for('task.details', id=task['id']) }}" method="get">
            <input type="submit" value="Details">
          </form>
          <form action="{{ url_for('task.delete', id=task['id']) }}" method="post">
            <input class="danger" type="submit" value="Delete" onclick="return confirm('Are you sure?');">
          </form>
        {% endif %}
      </header>
    </article>
    {% if not loop.last %}
      <hr>
     {% endif %}
  {% endfor %}
{% endblock %}